body {
    background-color: #613659;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #E3E8E9;
    font-size: 32px;
    margin-top: 5% 0;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

input[type="text"] {
    text-align: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    width: 20%;
}

.btn {
    cursor: pointer;
    margin: 10px;
}

button[type="button"] {
    background-color: #007bff;
    border: 2px solid black;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    transition: background-color 0.2s;
}

button[type="button"]:hover {
    background-color: #0069d9;
}

#results-container {
   
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px 0;
}


#results-container>div {
    background-image: linear-gradient(to right, #D3BBDD, #ECE3F0);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#results-container>div:hover {
    border: 2px solid black;
}

#results-container img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

#results-container h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

#results-container ul {
    margin: 0;
    padding: 0;
}

#results-container li {
    list-style: none;
    margin-bottom: 10px;
}